.super-mario {
    width: 200px;
    position: absolute;
    
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 370px;
    
  }
  
  .baloon {

    position: absolute;
    top: 500px;
    z-index: 1;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 540px;
    left: 35px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 700px;
    left: 280px;
  }